@charset "utf-8";

@media print {

    body{
        background-image: url(imagens/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
       }   
    main{
        width: 90vw;
        border: 2px solid black;
    }
    img#computador{
        display: none;
    }
    img#phone{
        display: none;
    }
    img#print{
        display: block;
    }
    img#tablet{
        display: none;
    }
    img#tv{
        display: none;
    }
    main::after{
        content: 'Essa impressão foi feita atraves do cursoemvideo.com';
    }
    main h1{
        text-shadow: none;
    }

}



@media screen and (min-width: 768px) and (max-width: 992px) { 
    
   body{
        background-image: url(imagens/back-tablet.jpg);
   } 
    img#computador{
        display: none;
    }
    img#phone{
        display: none;
    }
    img#print{
        display: block;
    }
    img#tablet{
        display: none;
    }
    img#tv{
        display: none;
    }
}
 
@media screen and (min-width: 992px) and (max-width: 1200px) { 
    body{
        background-image: url(imagens/back-pc.jpg);
       }
    img#computador{
        display: block;
    }
    img#phone{
        display: none;
    }
    img#print{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#tv{
        display: none;
    }
}


@media screen and (min-width: 1200px){ 
    body{
        background-image: url(imagens/back-tv.jpg);
       }
    img#computador{
        display: none;
    }
    img#phone{
        display: none;
    }
    img#print{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#tv{
        display: block;
    }
}





